.outerdiv {
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: image-url('sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.log-in-form {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 2px solid #F7A992;
    height: 85%;
    z-index: 2;
}




.log-in-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    align-items: center;
}


.log-in-top h1, h3 {

    color: #4C364D;
}

.log-in-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 45%;
}

.log-in-bottom {
    // padding-top: 6%;
    // margin-bottom: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 18.5%;

}
.log-in-bottom h3 {
    color: #4C364D;
    font-weight: 600;
    font-size: 22px;
}


.log-in-evernote {
    font-weight: bold;
    font-size: 40px;
}

// .log-in-form h3 {

//     margin-bottom: 10%;
// }

.log-in-form img {
    width: 100px;
    height: 100px;

}

.log-in-form li {
    list-style: none;
    color: red;
    font-weight: 600;
    font-size: 18px;
    font-family: sans-serif;
}

.log-in-form .enter-username button:hover {
    color: honeydew;
    cursor: pointer;
    background-color: #82A0C2;
    outline: none;
}

.enter-username button {
    background-color: #4C364D;
    width: 350px;
    line-height: 475%;
    border-radius: 12px;
    color: honeydew;
    outline: none;
}

.log-in-email-input {

    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    outline: none;
    width: 75%;
    height: 40px;
    background-color: #82A0C2;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    color: #4C364D;

}


.redirect-to-login-signup a {
    color: #4C364D;
    font-weight: 600;
    font-size: 18px;
    // margin-bottom: -200px;
}

.redirect-to-login-signup a:hover {
    color: #4C364D;
    cursor: pointer;
}




