.question-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: image-url('toy_story.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
}

.question-form button {
    width: 150px;
}

