.question-form {
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: image-url('toy_story.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}