.sign-up-form {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 2px solid #F7A992;
    height: 85%;
    z-index: 2;
}




.sign-up-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    align-items: center;
}


.sign-up-top h1,
h3 {

    color: #4C364D;
}

.sign-up-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 55%;
}

.sign-up-bottom {
    // padding-top: 6%;
    // margin-bottom: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 18.5%;

}

.sign-up-bottom h3 {
    color: #4C364D;
    font-weight: 600;
    font-size: 22px;
}


.sign-up-evernote {
    font-weight: bold;
    font-size: 40px;
}

// .sign-up-form h3 {

//     margin-bottom: 10%;
// }

.sign-up-form img {
    width: 100px;
    height: 100px;

}

.sign-up-form li {
    list-style: none;
    color: red;
    font-weight: 600;
    font-size: 18px;
    font-family: sans-serif;
}

.sign-up-form .enter-username button:hover {
    color: honeydew;
    cursor: pointer;
    background-color: #82A0C2;
    outline: none;
}
.sign-up-inputs {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-user-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter-username {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-username button {
    background-color: #4C364D;
    width: 65%;
    line-height: 375%;
    border-radius: 12px;
    color: honeydew;
    outline: none;
}

.sign-up-email-input {

    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    outline: none;
    width: 85%;
    height: 40px;
    background-color: #82A0C2;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    color: #4C364D;

}


.redirect-to-login-signup a {
    color: #4C364D;
    font-weight: 600;
    font-size: 18px;
    // margin-bottom: -200px;
}

.redirect-to-login-signup a:hover {
    color: #4C364D;
    cursor: pointer;
}

.demo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-button button {
    background-color: #4C364D;
    width: 45%;
    line-height: 250%;
    border-radius: 12px;
    color: honeydew;
    outline: none;
    cursor: pointer;
}

.demo-button button:hover {
    color: honeydew;
    cursor: pointer;
    background-color: #82A0C2;
    outline: none;
}