.splash-form {
    width: 100%;
    height: 100%;
}

.splash-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    width: 100%;

    background-color: #FEC240;
}
.title-div h1 {
    font-weight: 600;
    font-size: 30px;
}

html {
    height: 100%;
    width: 100%;
}

.splash-body {
    background-image: image-url('rick_and_ilsa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}


.splash-body h1,
h2 {
    color: #2f375B;
}

.featuresForm h1 {
    font-size: 200px;
}

.features-div {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.features-div ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.features-div a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 0 1%;
    font-family: sans-serif;
}

.splash-right a {
    // background-color: white;
    color: #DE4B43;
    padding: 3.5% 6.5%;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    text-decoration: underline;
    border: 2px solid #2f375B;
    text-align: center;
    cursor: pointer;
}

.splash-left h1 {
    font-size: 500%;
    font-weight: bold;
    margin-top: 23%;

    line-height: 115%;
    margin-bottom: 4.5%;
    font-family: Soleil_Medium, Helvetica, Arial, sans-serif;
}

.splash-right h2 {
    font-family: Soleil_Light, Helvetica, Arial, sans-serif;
    font-size: 250%;

    line-height: 190%;
    margin-bottom: 8%;
    font-weight: 400;
}

.splash-nav li {
    list-style-type: none;
    display: flex;
}

.title {
    color: #000000;
    font-size: 200%;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}


.login-button a:hover {
    border: 2px solid #98C4D1;
    color: #98C4D1;
    cursor: pointer;
}

.splash-buttons {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;


    width: 18%;
}





.signup-button {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.signup-button a {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    text-decoration: none;
    font-family: Soleil, Helvetica, Arial, sans-serif;
    color: #DE4B43;
}


.signup-button a:hover {
    color: #98C4D1;
    cursor: pointer;
}


.splash-buttons {
    padding-right: 13%;
    width: 11%;
    font-family: 'PT Sans', sans-serif;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.splash-buttons span {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.login-button a {
    color: #DE4B43;
    text-decoration: none;
    padding-bottom: 20%;
    display: flex;
    width: 100%;
    padding-top: 20%;
    border-radius: 4px;
    border: 2px solid #DE4B43;
    padding-right: 55%;
    padding-left: 55%;
    line-height: 10px;
    font-family: Soleil, Helvetica, Arial, sans-serif;
}

.login-button {
    padding-bottom: 30px;
    margin-left: 6%;
}

.splash-right {
    z-index: 2;
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 665px;
    margin-top: 5.5%;
    margin-left: 2.6%;
}